<div class="card animated fadeIn p-2">

    <form [formGroup]="forma" novalidate class="card-text">
        <br>
        <!-- <button (click)="generarNumeroSinRepetir()" class="btn btn-xs btn-info"> <i class="fa fa-retweet"></i>  Generar</button> -->
        <div class="border-top p-1">
            <div class="col-lg-12 text-center"><b style="color: rgb(0, 204, 255);">DATOS DEL PACIENTE</b></div>
            <br>


            <div class="row">

                <div class="col-lg-6">
                    <mat-form-field appearance="outline">
                        <mat-label>NOMBRE COMPLETO:</mat-label>
                        <input matInput maxlength="200" formControlName="nombre" list="lista4" />

                        <datalist type="text" id="lista4">
                            <option *ngFor="let tipo of NombresPacientes" [value]="tipo.nombre">
                                {{tipo.nombre}}
                            </option>
                        </datalist>
                        <span *ngIf="nombreField.hasError('userDuplicado')">
                            <label style="color: red;"> <i class="fa fa-exclamation-triangle"></i> Paciente Ya Registrado</label>
                        </span>
                        <mat-icon matSuffix>account_box</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>CURP</mat-label>
                        <input matInput maxlength="200" formControlName="curp" />
                    </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <mat-form-field appearance="outline">
                        <mat-label>CÓDIGO</mat-label>
                        <input matInput type="number" formControlName="codigo" />
                    </mat-form-field>
                </div>


            </div>
            <div class="row">
                <div class="col-lg-2">
                    <mat-form-field appearance="outline">
                        <mat-label>EDAD</mat-label>
                        <input matInput maxlength="200" formControlName="edad" />
                    </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <mat-form-field appearance="outline">
                        <mat-label>MESES</mat-label>
                        <input matInput maxlength="200" formControlName="meses" />
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Fecha Ingreso</mat-label>
                        <input matInput type="datetime-local" formControlName="fecha_ingreso" />
                    </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Fecha Nacimiento</mat-label>
                        <input matInput type="date" formControlName="fecha_nacimiento" />
                    </mat-form-field>
                </div>

                <div class="col-lg-3">
                    <div class="row border p-2" style="border-radius: 10px;">
                        <!-- <div class="col-lg-1 text-right">
                            <mat-icon style="color: red;" *ngIf="!this.forma.value.sexo" matSuffix>
                                error_outline</mat-icon>
                        </div> -->
                        <div class="col-lg-10">
                            <mat-label style="color: black; font-weight: 500;"> SEXO </mat-label>
                            <br>
                            <mat-radio-group class="mat-radio-group-required" aria-label="Select an option" formControlName="sexo">
                                <mat-radio-button color="primary" value="M">M</mat-radio-button>&nbsp;
                                <mat-radio-button color="primary" value="F">F</mat-radio-button>&nbsp;
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Medico Titular</mat-label>
                    <mat-select [(ngModel)]="medico" formControlName="medico_titular">
                        <mat-option *ngFor="let e of Medicos" [value]="e.value">
                            {{e.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="border-top p-1">
            <label style="color: royalblue;"> Dirección</label>

            <div class="row">

                <div class="col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Calle</mat-label>
                        <input matInput maxlength="200" formControlName="calle" />
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Colonia</mat-label>
                        <input matInput maxlength="200" formControlName="colonia" />
                    </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <mat-form-field appearance="outline">
                        <mat-label>N° Exterior</mat-label>
                        <input matInput maxlength="200" formControlName="no_exterior" />
                    </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <mat-form-field appearance="outline">
                        <mat-label>N° Interior</mat-label>
                        <input matInput maxlength="200" formControlName="no_interior" />
                    </mat-form-field>
                </div>
            </div>


            <div class="row">

                <div class="col-lg-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Estado</mat-label>
                        <input matInput maxlength="200" formControlName="estado" />
                    </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <mat-form-field appearance="outline">
                        <mat-label>País</mat-label>
                        <input matInput maxlength="200" formControlName="pais" />
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Ciudad</mat-label>
                        <input matInput maxlength="200" formControlName="ciudad" />
                    </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Nacionalidad</mat-label>
                        <input matInput maxlength="200" formControlName="nacionalidad" />
                    </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <mat-form-field appearance="outline">
                        <mat-label>C.P.</mat-label>
                        <input matInput maxlength="200" formControlName="codigo_postal" />
                    </mat-form-field>
                </div>
            </div>

        </div>

        <div class="border-top p-1">
            <label style="color: royalblue;"> Contacto</label>
            <div class="row">

                <div class="col-lg-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Tel. Casa</mat-label>
                        <input matInput placeholder="(999) 999 9999" mask="(000) 000 0000" maxlength="200" formControlName="tel_casa" />
                        <mat-icon matSuffix>phone</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Tel. Oficina</mat-label>
                        <input matInput placeholder="(999) 999 9999" mask="(000) 000 0000" maxlength="200" formControlName="tel_oficina" />
                        <mat-icon matSuffix>phone</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Celular</mat-label>
                        <input matInput placeholder="(999) 999 9999" mask="(000) 000 0000" maxlength="200" formControlName="celular" />
                        <mat-icon matSuffix>settings_cell</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Correo</mat-label>
                        <input matInput maxlength="200" formControlName="correo" />
                        <mat-icon matSuffix>alternate_email</mat-icon>
                    </mat-form-field>
                </div>

            </div>

        </div>



        <br>

        <hr>

        <div class="border p-2" style="background-color: aliceblue; border-radius: 10px;">
            <div class="col-lg-12 text-center"><label style="color: rgb(0, 204, 255);"> HISTORIA CLÍNICA</label></div>

            <br>
            <div class="row">

                <div class="col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>¿ES ALERGICO A ALGUN MEDICAMENTO?</mat-label>
                        <input matInput maxlength="100" formControlName="alergico_medicamento" />
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>¿LE HAN REALIZADO ENDODONCIAS?</mat-label>
                        <input matInput maxlength="100" formControlName="realizado_endodoncias" />
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>¿ES DIABETICO?</mat-label>
                        <input matInput maxlength="100" formControlName="diabetico" />
                    </mat-form-field>
                </div>


            </div>
            <div class="row">
                <div class="col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>¿PADECE DEL CORAZON?</mat-label>
                        <input matInput maxlength="100" formControlName="padece_corazon" />
                    </mat-form-field>
                </div>

                <div class="col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>¿PADECE PRESION BAJA?</mat-label>
                        <input matInput maxlength="100" formControlName="padece_presion_baja" />
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>¿PADECE PRESION ALTA?</mat-label>
                        <input matInput maxlength="100" formControlName="padece_presion_alta" />
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>¿PADECE DEL RIÑON?</mat-label>
                        <input matInput maxlength="100" formControlName="padece_riñon" />
                    </mat-form-field>
                </div>

                <div class="col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>¿OTRA ENFERMEDAD?</mat-label>
                        <input matInput maxlength="100" formControlName="otra_enfermedad" />
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>¿ESTA TOMANDO ALGUN MEDICAMENTO?</mat-label>
                        <input matInput maxlength="100" formControlName="tomando_medicamento" />
                    </mat-form-field>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>¿SANGRAN SUS ENCIAS AL CEPILLADO?</mat-label>
                        <input matInput maxlength="100" formControlName="sangran_encias" />
                    </mat-form-field>
                </div>

                <div class="col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>¿TIENE DOLOR DE ALGUNA DE SUS PIEZAS?</mat-label>
                        <input matInput maxlength="100" formControlName="dolor_piezas" />
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field appearance="outline">
                        <mat-label>COLOR:</mat-label>
                        <input matInput maxlength="100" formControlName="color" />
                    </mat-form-field>
                </div>
            </div>





            <div class="row">
                <div class="col-lg-12">
                    <mat-form-field>
                        <mat-label>NOTAS</mat-label>
                        <textarea matInput rows="6" maxlength="9000" formControlName="notas"></textarea>
                    </mat-form-field>
                </div>
            </div>

        </div>




        <br>
        <div class="row">
            <div class="col-6 text-left">
                <button mat-raised-button color="warn" [routerLink]="['/registros']">Regresar</button>
            </div>
            <div class="col-lg-6 text-right">
                <button mat-raised-button color="primary" [disabled]="!forma.valid" (click)="agregarPaciente()">{{textButton}}</button>

            </div>

        </div>
    </form>

    <hr>









</div>