<div class="card">
    <div class="card-body">
        <div class="row">

            <div class="col-lg-2 col-md-12 align-items-center d-flex">
                <p class="text-center h2">
                    <span class="h2 font-weight-bold">Bienvenido(a)</span><br><br><br>
                </p>
            </div>
            <div class="col-lg-10 col-md-12">
                <div class="text-center">
                    <img style="width: 30%; height: auto; border-radius: 20px;" src="/assets/images/diente2.png" alt="">
                </div>
            </div>


        </div>
    </div>
</div>